<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener</title>
    <link rel="icon" type="image/png" href="../public/favicon.ico" />
    <link href="../public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <!--<form action="shortmyurl" method="POST">-->
        <form>
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">Your URL:</label>
            <input
              id="url_input"
              type="text"
              name="url"
              placeholder="https://www.example.com/"
            >
          </input>
          <button id="submit-btn" type="submit">Generate URL</button>
          </fieldset>
        </form>
      </section>
    </main>
    <div id="response"></div>
    <footer>
      <p>By Aviv Yamin</p>
    </footer>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="../public/index.js"></script>
  </body>
</html>
